:root {
  --gray-50: oklch(0.982 0 0); /* radix-step-2 */
  --gray-100: oklch(0.955 0 0); /* radix-step-3 */
  --gray-200: oklch(0.931 0 0); /* radix-step-4 */
  --gray-300: oklch(0.907 0 0); /* radix-step-5 */
  --gray-400: oklch(0.885 0 0); /* radix-step-6 */
  --gray-500: oklch(0.851 0 0); /* radix-step-7 */
  --gray-600: oklch(0.792 0 0); /* radix-step-8 */
  --gray-700: oklch(0.643 0 0); /* radix-step-9 */
  --gray-800: oklch(0.61 0 0); /* radix-step-10 */
  --gray-900: oklch(0.556 0 0); /* radix-step-11 */
  --gray-950: oklch(0.244 0 0); /* radix-step-12 */

  --gray-a50: oklch(0 0 0 / 0.024);
  --gray-a100: oklch(0 0 0 / 0.063);
  --gray-a200: oklch(0 0 0 / 0.09);
  --gray-a300: oklch(0 0 0 / 0.122);
  --gray-a400: oklch(0 0 0 / 0.153);
  --gray-a500: oklch(0 0 0 / 0.192);
  --gray-a600: oklch(0 0 0 / 0.267);
  --gray-a700: oklch(0 0 0 / 0.447);
  --gray-a800: oklch(0 0 0 / 0.486);
  --gray-a900: oklch(0 0 0 / 0.608);
  --gray-a950: oklch(0 0 0 / 0.875);

  --blue-50: oklch(0.993 0.003 247.9);
  --blue-100: oklch(0.982 0.009 242.8);
  --blue-200: oklch(0.96 0.02 238.7);
  --blue-300: oklch(0.938 0.035 234.8);
  --blue-400: oklch(0.905 0.051 240.3);
  --blue-500: oklch(0.81 0.089 243.1);
  --blue-600: oklch(0.734 0.121 243.1);
  --blue-700: oklch(0.649 0.193 251.8);
  --blue-800: oklch(0.622 0.183 251.7);
  --blue-900: oklch(0.556 0.162 252.2);
  --blue-950: oklch(0.324 0.096 258.8);

  --blue-a50: oklch(0.641 0.197 252.972 / 0.043);
  --blue-a100: oklch(0.591 0.225 258.601 / 0.086);
  --blue-a200: oklch(0.63 0.203 254.355 / 0.149);
  --blue-a300: oklch(0.615 0.211 256.099 / 0.22);
  --blue-a400: oklch(0.599 0.22 257.832 / 0.302);
  --blue-a500: oklch(0.574 0.211 257.838 / 0.408);
  --blue-a600: oklch(0.564 0.204 257.51 / 0.569);
  --blue-a700: oklch(0.649 0.193 251.78);
  --blue-a800: oklch(0.61 0.183 252.056);
  --blue-a900: oklch(0.563 0.183 254.705);
  --blue-a950: oklch(0.324 0.097 252.046);

  --green-50: oklch(0.982 0.009 150.694);
  --green-100: oklch(0.961 0.024 147.292);
  --green-200: oklch(0.933 0.036 146.539);
  --green-300: oklch(0.902 0.053 147.644);
  --green-400: oklch(0.859 0.072 147.357);
  --green-500: oklch(0.798 0.094 147.263);
  --green-600: oklch(0.716 0.129 147.413);
  --green-700: oklch(0.651 0.147 147.392);
  --green-800: oklch(0.612 0.141 147.431);
  --green-900: oklch(0.526 0.13 147.36);
  --green-950: oklch(0.327 0.054 146.815);

  --green-a50: oklch(0.593 0.194 143.693 / 0.039);
  --green-a100: oklch(0.631 0.212 142.843 / 0.09);
  --green-a200: oklch(0.589 0.199 142.742 / 0.145);
  --green-a300: oklch(0.592 0.198 143 / 0.216);
  --green-a400: oklch(0.572 0.191 143.055 / 0.302);
  --green-a500: oklch(0.552 0.184 143.139 / 0.42);
  --green-a600: oklch(0.55 0.181 143.51 / 0.596);
  --green-a700: oklch(0.538 0.174 144.007 / 0.725);
  --green-a800: oklch(0.503 0.162 144.24 / 0.761);
  --green-a900: oklch(0.44 0.139 144.803 / 0.839);
  --green-a950: oklch(0.208 0.064 145.854 / 0.871);

  --yellow-50: oklch(0.984 0.023 93.323);
  --yellow-100: oklch(0.963 0.068 97.497);
  --yellow-200: oklch(0.939 0.102 95.789);
  --yellow-300: oklch(0.914 0.129 93.747);
  --yellow-400: oklch(0.882 0.123 90.47);
  --yellow-500: oklch(0.829 0.118 90.711);
  --yellow-600: oklch(0.761 0.135 90.498);
  --yellow-700: oklch(0.867 0.176 90.669);
  --yellow-800: oklch(0.838 0.165 90.363);
  --yellow-900: oklch(0.572 0.117 86.53);
  --yellow-950: oklch(0.352 0.045 90.33);

  --yellow-a50: oklch(0.854 0.175 87.525 / 0.086);
  --yellow-a100: oklch(0.879 0.18 93.577 / 0.247);
  --yellow-a200: oklch(0.865 0.177 90.382 / 0.392);
  --yellow-a300: oklch(0.856 0.175 88.008 / 0.529);
  --yellow-a400: oklch(0.801 0.165 82.839 / 0.545);
  --yellow-a500: oklch(0.724 0.149 83.651 / 0.596);
  --yellow-a600: oklch(0.696 0.143 85.473 / 0.773);
  --yellow-a700: oklch(0.863 0.176 89.913 / 0.953);
  --yellow-a800: oklch(0.818 0.167 87.543 / 0.867);
  --yellow-a900: oklch(0.572 0.117 86.53);
  --yellow-a950: oklch(0.25 0.051 89.962 / 0.882);

  --red-50: oklch(0.98 0.01 32.516);
  --red-100: oklch(0.952 0.024 36.51);
  --red-200: oklch(0.91 0.048 38.798);
  --red-300: oklch(0.877 0.067 36.821);
  --red-400: oklch(0.85 0.083 35.365);
  --red-500: oklch(0.804 0.098 34.102);
  --red-600: oklch(0.744 0.117 34.256);
  --red-700: oklch(0.664 0.179 34.086);
  --red-800: oklch(0.625 0.181 34.021);
  --red-900: oklch(0.582 0.176 33.996);
  --red-950: oklch(0.349 0.067 33.886);

  --red-a50: oklch(0.644 0.243 32.129 / 0.043);
  --red-a100: oklch(0.65 0.237 33.432 / 0.106);
  --red-a200: oklch(0.655 0.233 34.359 / 0.208);
  --red-a300: oklch(0.651 0.237 33.578 / 0.278);
  --red-a400: oklch(0.648 0.239 33.01 / 0.337);
  --red-a500: oklch(0.609 0.227 32.494 / 0.416);
  --red-a600: oklch(0.577 0.214 32.719 / 0.522);
  --red-a700: oklch(0.596 0.225 32.216 / 0.741);
  --red-a800: oklch(0.567 0.213 32.278 / 0.796);
  --red-a900: oklch(0.532 0.199 32.458 / 0.839);
  --red-a950: oklch(0.243 0.081 37.215 / 0.867);
}

.dark {
  --gray-50: oklch(0.213 0 0);
  --gray-100: oklch(0.256 0 0);
  --gray-200: oklch(0.285 0 0);
  --gray-300: oklch(0.313 0 0);
  --gray-400: oklch(0.348 0 0);
  --gray-500: oklch(0.402 0 0);
  --gray-600: oklch(0.489 0 0);
  --gray-700: oklch(0.538 0 0);
  --gray-800: oklch(0.586 0 0);
  --gray-900: oklch(0.77 0 0);
  --gray-950: oklch(0.949 0 0);

  --gray-a50: oklch(1 0 0 / 0.035);
  --gray-a100: oklch(1 0 0 / 0.075);
  --gray-a200: oklch(1 0 0 / 0.106);
  --gray-a300: oklch(1 0 0 / 0.133);
  --gray-a400: oklch(1 0 0 / 0.173);
  --gray-a500: oklch(1 0 0 / 0.231);
  --gray-a600: oklch(1 0 0 / 0.333);
  --gray-a700: oklch(1 0 0 / 0.392);
  --gray-a800: oklch(1 0 0 / 0.451);
  --gray-a900: oklch(1 0 0 / 0.686);
  --gray-a950: oklch(1 0 0 / 0.929);

  --blue-50: oklch(0.21 0.03 253.267);
  --blue-100: oklch(0.273 0.067 252.303);
  --blue-200: oklch(0.318 0.098 253.05);
  --blue-300: oklch(0.365 0.108 251.741);
  --blue-400: oklch(0.415 0.112 251.647);
  --blue-500: oklch(0.475 0.12 251.494);
  --blue-600: oklch(0.542 0.14 251.762);
  --blue-700: oklch(0.649 0.193 251.78);
  --blue-800: oklch(0.612 0.19 253.269);
  --blue-900: oklch(0.764 0.126 249.464);
  --blue-950: oklch(0.905 0.048 249.319);

  --blue-a50: oklch(0.567 0.23 259.912 / 0.09);
  --blue-a100: oklch(0.597 0.221 258.03 / 0.227);
  --blue-a200: oklch(0.587 0.227 258.962 / 0.341);
  --blue-a300: oklch(0.61 0.211 256.319 / 0.424);
  --blue-a400: oklch(0.636 0.196 253.768 / 0.494);
  --blue-a500: oklch(0.662 0.184 252.588 / 0.588);
  --blue-a600: oklch(0.664 0.181 252.459 / 0.725);
  --blue-a700: oklch(0.649 0.193 251.78);
  --blue-a800: oklch(0.636 0.2 253.539 / 0.941);
  --blue-a900: oklch(0.764 0.126 249.464);
  --blue-a950: oklch(0.905 0.048 249.319);

  --green-50: oklch(0.209 0.015 145.025);
  --green-100: oklch(0.268 0.031 146.458);
  --green-200: oklch(0.32 0.052 147.75);
  --green-300: oklch(0.367 0.063 146.952);
  --green-400: oklch(0.417 0.072 147.639);
  --green-500: oklch(0.468 0.084 147.414);
  --green-600: oklch(0.524 0.097 147.174);
  --green-700: oklch(0.651 0.147 147.392);
  --green-800: oklch(0.61 0.146 147.408);
  --green-900: oklch(0.78 0.143 147.473);
  --green-950: oklch(0.91 0.077 147.124);

  --green-a50: oklch(0.864 0.234 143.217 / 0.039);
  --green-a100: oklch(0.894 0.202 145.082 / 0.106);
  --green-a200: oklch(0.888 0.22 146.073 / 0.173);
  --green-a300: oklch(0.894 0.207 145.856 / 0.231);
  --green-a400: oklch(0.897 0.196 146.866 / 0.294);
  --green-a500: oklch(0.894 0.191 146.754 / 0.365);
  --green-a600: oklch(0.895 0.189 146.676 / 0.439);
  --green-a700: oklch(0.89 0.212 147.115 / 0.631);
  --green-a800: oklch(0.884 0.226 146.957 / 0.576);
  --green-a900: oklch(0.908 0.17 147.5 / 0.804);
  --green-a950: oklch(0.953 0.081 146.981 / 0.937);

  --yellow-50: oklch(0.21 0.016 89.913);
  --yellow-100: oklch(0.256 0.04 88.699);
  --yellow-200: oklch(0.297 0.061 89.427);
  --yellow-300: oklch(0.338 0.069 88.762);
  --yellow-400: oklch(0.387 0.073 90.374);
  --yellow-500: oklch(0.453 0.075 90.485);
  --yellow-600: oklch(0.536 0.089 90.735);
  --yellow-700: oklch(0.82 0.165 90.325);
  --yellow-800: oklch(0.787 0.161 89.593);
  --yellow-900: oklch(0.871 0.162 90.498);
  --yellow-950: oklch(0.936 0.067 91.506);

  --yellow-a50: oklch(0.813 0.168 80.744 / 0.043);
  --yellow-a100: oklch(0.804 0.17 74.67 / 0.11);
  --yellow-a200: oklch(0.805 0.17 74.308 / 0.169);
  --yellow-a300: oklch(0.818 0.171 77.948 / 0.224);
  --yellow-a400: oklch(0.844 0.173 85.073 / 0.278);
  --yellow-a500: oklch(0.863 0.162 88.771 / 0.361);
  --yellow-a600: oklch(0.877 0.16 90.2 / 0.471);
  --yellow-a700: oklch(0.865 0.175 90.08 / 0.925);
  --yellow-a800: oklch(0.861 0.176 89.441 / 0.878);
  --yellow-a900: oklch(0.877 0.163 90.711 / 0.992);
  --yellow-a950: oklch(0.95 0.068 91.811 / 0.98);

  --red-50: oklch(0.206 0.016 39.236);
  --red-100: oklch(0.252 0.055 33.302);
  --red-200: oklch(0.291 0.087 33.73);
  --red-300: oklch(0.33 0.097 33.911);
  --red-400: oklch(0.379 0.099 34.108);
  --red-500: oklch(0.447 0.106 34.277);
  --red-600: oklch(0.538 0.13 33.898);
  --red-700: oklch(0.664 0.179 34.086);
  --red-800: oklch(0.625 0.179 34.149);
  --red-900: oklch(0.77 0.138 35.323);
  --red-950: oklch(0.898 0.047 32.8);

  --red-a50: oklch(0.681 0.209 37.108 / 0.055);
  --red-a100: oklch(0.647 0.238 32.438 / 0.165);
  --red-a200: oklch(0.634 0.247 31.052 / 0.259);
  --red-a300: oklch(0.645 0.237 32.467 / 0.322);
  --red-a400: oklch(0.673 0.215 33.994 / 0.388);
  --red-a500: oklch(0.698 0.19 34.508 / 0.49);
  --red-a600: oklch(0.708 0.184 33.964 / 0.655);
  --red-a700: oklch(0.702 0.191 33.906 / 0.922);
  --red-a800: oklch(0.69 0.202 34.146 / 0.863);
  --red-a900: oklch(0.77 0.138 35.323);
  --red-a950: oklch(0.908 0.048 32.46 / 0.984);
}

@theme inline {
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-gray-a50: var(--gray-a50);
  --color-gray-a100: var(--gray-a100);
  --color-gray-a200: var(--gray-a200);
  --color-gray-a300: var(--gray-a300);
  --color-gray-a400: var(--gray-a400);
  --color-gray-a500: var(--gray-a500);
  --color-gray-a600: var(--gray-a600);
  --color-gray-a700: var(--gray-a700);
  --color-gray-a800: var(--gray-a800);
  --color-gray-a900: var(--gray-a900);
  --color-gray-a950: var(--gray-a950);

  --color-blue-50: var(--blue-50);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-950: var(--blue-950);

  --color-blue-a50: var(--blue-a50);
  --color-blue-a100: var(--blue-a100);
  --color-blue-a200: var(--blue-a200);
  --color-blue-a300: var(--blue-a300);
  --color-blue-a400: var(--blue-a400);
  --color-blue-a500: var(--blue-a500);
  --color-blue-a600: var(--blue-a600);
  --color-blue-a700: var(--blue-a700);
  --color-blue-a800: var(--blue-a800);
  --color-blue-a900: var(--blue-a900);
  --color-blue-a950: var(--blue-a950);

  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-950: var(--green-950);

  --color-green-a50: var(--green-a50);
  --color-green-a100: var(--green-a100);
  --color-green-a200: var(--green-a200);
  --color-green-a300: var(--green-a300);
  --color-green-a400: var(--green-a400);
  --color-green-a500: var(--green-a500);
  --color-green-a600: var(--green-a600);
  --color-green-a700: var(--green-a700);
  --color-green-a800: var(--green-a800);
  --color-green-a900: var(--green-a900);
  --color-green-a950: var(--green-a950);

  --color-yellow-50: var(--yellow-50);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-yellow-950: var(--yellow-950);

  --color-yellow-a50: var(--yellow-a50);
  --color-yellow-a100: var(--yellow-a100);
  --color-yellow-a200: var(--yellow-a200);
  --color-yellow-a300: var(--yellow-a300);
  --color-yellow-a400: var(--yellow-a400);
  --color-yellow-a500: var(--yellow-a500);
  --color-yellow-a600: var(--yellow-a600);
  --color-yellow-a700: var(--yellow-a700);
  --color-yellow-a800: var(--yellow-a800);
  --color-yellow-a900: var(--yellow-a900);
  --color-yellow-a950: var(--yellow-a950);

  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-950: var(--red-950);

  --color-red-a50: var(--red-a50);
  --color-red-a100: var(--red-a100);
  --color-red-a200: var(--red-a200);
  --color-red-a300: var(--red-a300);
  --color-red-a400: var(--red-a400);
  --color-red-a500: var(--red-a500);
  --color-red-a600: var(--red-a600);
  --color-red-a700: var(--red-a700);
  --color-red-a800: var(--red-a800);
  --color-red-a900: var(--red-a900);
  --color-red-a950: var(--red-a950);
}
